* {
  margin: 0;
  padding: 0;
}

:root {
  /* Product color: */
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;

  /* Base color */
  --bg-color: #0f172a;
  --stroke-color: #e2e8f0;

  /* Text color */
  --text-color-primary: #f1f5ff;
  --text-color-secondary: #cbd5e1;

  /* Font family */
  --font-family: "Archivo", sans-serif;

  /* Text config */
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
  --text-span: 600 14px/145% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font: var(--text);
  max-width: 1280px;
  max-height: 72px;
}

a {
  color: indianred;
  text-decoration: none;
}

a:hover {
  color: var(--brand-color-light);
}

h1, h2, h3 {
  font: inherit;
}