* {
  margin: 0;
  padding: 0;
}

:root {
  /* Product color: */
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;

  /* Base color */
  --bg-color: #0f172a;
  --stroke-color: #e2e8f0;

  /* Text color */
  --text-color-primary: #f1f5ff;
  --text-color-secondary: #cbd5e1;

  /* Font family */
  --font-family: "Archivo", sans-serif;

  /* Text config */
  --heanding1: 24px/135% ExtraBold;
  --heanding2: 16px/140% ExtraBold;
  --heanding3: 14px/140% ExtraBold;
  --span: 14px/145% semiBold;
  --paragraph: 14px/160% regular;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family);
}
